# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\TRABAJOS MANUEL\Resolución de conflictos\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
